<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>OBA</title>
</head>

<body>
  <div class="bgBar"></div>
  <main class="panel">
    <% include ../partials/sidemenu %>


    <section class="content">
          <article detail="article">
            <h2 class='detailTitel'><%= book.titel %></h2>
            <img class="detailImg" src=<%= book.imgLink %>>
            <p class="summery"><%= book.summery %></p>
            <p class="auteur"><%= book.auteur %></p>

            <div class="link">
              <a href='https://boekdeelfeature.netlify.com/#add/<%= book.id %>'>https://boekdeelfeature.netlify.com/#add/<%= book.id %></a>
              <p>Deel dit boek</p>
            </div>

          </article>
    </section>



  </main>
  <div class="popup"></div>

  <script src="/js/oba.js"></script>
</body>

</html>